<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
	<All>
		<Define key="TargetIPv4" value="192.168.19.131" name="Target IPv4 Address" description="IPv4 address of the target client machine. For information on obtaining the IP v4 address, see Retrieving Machine Information."/>
		<Define key="TargetPort" name="Target Port" value="22"/>
		<Define key="username" value="qiao" name="username" description=""/>
		<Define key="password" value="qiao" name="password" description=""/>
	</All>
</PitDefines>